/*body{*/
/*    background-color: #212121;*/
/*}*/

.cover{
    margin-top: -15rem;
    height: 110vh;
    background-image: url('../../public/storage/images/library-banner-dark.png');
}
.backImage{
    width: 100%;
    height: 100%;
}
.inner{
    font-family: 'Graduate';
    text-align: center;
    color: white;
    float: left;
    margin-top: 15em;
}
.graduate{
    font-family: 'Graduate';
}

.footerLogin {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

